.grass{
    background-color: rgb(81, 188, 81)!important;
    border-color:  rgb(81, 188, 81)!important;
}
.fire{
    background-color: rgb(247, 52, 52)!important;
}
.dragon{
    background-color: rgb(204, 21, 21)!important;
}
.rock{
    background-color: grey;
}
.fighting{
    background-color: rgb(62, 223, 145);
}
.ghost{
    background-color: rgb(228, 42, 197);
}
.water{
    background-color: rgb(109, 166, 245)!important;
}
.electric{
    background-color: rgb(197, 201, 5);
}
.psychic{
    background-color: rgb(13, 13, 233);
}
.flying{
    background-color: aqua;
}
.steel{
    background-color: grey;
}
.bug{
    background-color: greenyellow;
}
.poison{
    background-color: blueviolet;
}
.ice{
    background-color: rgb(165, 234, 215);
}
.ground{
    background-color: rgb(125, 83, 0);
}
.fairy{
    background-color: pink;
}
.normal{
    background-color: rgb(234, 172, 29);
}