.loader {
    /* border: 16px solid #f3f3f3; /* Light grey */
    /* border-top: 16px solid #3498db; /* Blue */
    /* border-radius: 50%;
    width: 120px;
    height: 120px;*/ 
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s ease, visbility 0.75s ease;
    background-image: url("./img/pokemonOriginal.png");
    background-size: cover;
    z-index:99;
  }
  .loader-hidden{
    opacity:0;
    visibility: hidden;
  }
  .loader::after{
    content: "";
    width:75px;
    height:75px;
    border:15px solid white;
    border-top-color:rgb(14, 39, 228) ;
    border-radius: 50%;
    /* animation: loading 0.5s ease infinite; */
    animation: loading 1s linear infinite; 
    background-color:yellow;

  }
  @keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }