.contentImpressum{
    padding:40px;
    min-height: 90vh;
    max-width:1820px;
}
.contentDsgvo{
    padding:40px;
    max-width:1820px;
}
.quellen{
    background-color: white !important;
}
header{
    text-align: center;
}
@media(max-width:500px){
    .contentImpressum{
        padding:12px;
    }
    .contentDsgvo{
        padding:12px;
    }
}