body{
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin:0;
    padding:32px 0px;
    min-width:100%;
    background-image: url("./img/pokeball2DesignDark.png");
    background-color: rgb(245, 96, 96);
    background-blend-mode: screen;
}
.headerDiv{
    max-width: 1920px;
    width:70vW;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.header{
    background-color: rgb(245, 96, 96);
    display: flex;
    justify-content: center;
}
.headerLeft{
    width:40%;
    display:flex;
    gap:16px;
}
.headerLeft:hover{
   cursor: pointer;
}
.headerLeft img{
    width:50px;
}
.inputField{
    border-radius: 14px;
    padding:4px;
    border-color:blue
}
.footerOfPage{
    height:10vh;
    background-image: url("./img/pokeball2DesignDark.png");
    background-color: rgb(245, 96, 96) !important;
    background-blend-mode: screen;
    max-width:1920px;
    display: flex;
    min-width: 100%;
}
.main{
    text-align: center;
    min-width: 100%;
    min-height: 90vh;
    background-color: rgb(16, 16, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
    justify-content: center;
    margin:40px;
    max-width: 1920px;
    
}
.typeDiv{
    /* box-shadow: 1px 2px 6px 4px rgba(0, 0, 255, .2); */
    border-radius: 24px;
    padding: 0px 8px;
    margin: 8px;
    min-width: 60px;
    color: white;
}
.pokemonCards{
    width:200px;
    height:250px;
    border-radius: 24px;
    background-image: url("./img/pokeball2DesignDark.png"); 
    background-size: cover;
    background-blend-mode: screen;
}
.pokemonCards:hover{
    cursor: pointer;
    scale:1.1;
}
.typeAndImg{
    display:flex;
    gap:16px;
    height:200px;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    color:white;
    text-align: left;
}
.showAllPokemonImage{
    height: 55%;
    width: auto;
    object-fit: contain;
}
.pokemonName{
    margin:0;
    font-size:24px;
    color:white;
}
.idAndName{
    display:flex;
    flex-direction: column;
    margin-top:16px;
}
.idSpan{
    color:white;
}
.loadMoreButton{
    border-radius: 24px;
    border: none;
    background-color: rgb(245, 96, 96);;
    color: white;
    width:150px;
    height:50px;
    margin:16px;
    cursor: pointer;
}
.pokemonInfoCardBackground{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
.pokemonInfoCard{
    width:50vw;
    max-width:600px;
    height:70vh; 
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 24px;
    /* border: solid 1px; */
    box-shadow: 1px 2px 6px 4px rgba(0, 0, 255, .2);
    background-color: white;
}
.infoCardTop{
    background-image: url("./img/pokeball2DesignDark.png") ;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    padding:16px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:50%;
    border-radius: 24px;
}
.infoCardName{
    margin-top:4%;
    font-size: 40px;
}
.infoContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px 0px 16px; 
    font-size: 24px;
}
.loadInfoSpan{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoCardBottom{
    height: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around; 
    background-color: white;
    border-radius: 24px;
    padding:0px 0px 16px 0px;
}
.infoCardText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.typeOnBigView{
    display: flex;
}
.fullWidth{
    border: solid 1px;
    border-radius: 24px;
    height: 16px;
    width:80%;
    position: relative;
    margin-top: 5px;
}
.fullPercent{
    width:60%;
}
.showPercent{
    background-color: aqua;
    height: 14px;
    display: block;
    border-radius: 24px;
}
.statSpan{
    display:flex;
    /* gap:8px; */
    justify-content: space-between;
}
.statNumberAndShowLine{
    width:50%;
    display: flex;
    gap:8px;
    justify-content: end;
}
.infoCardLinks{
    justify-content: space-between;
    display: flex;
    text-align: center;
    width: 100%;
    border-radius: 24px;
}
.loadAbouts{
     padding:16px;
     width:50%;
     border-radius: 24px;
     font-size: 24px;
}
.loadBasestate{
    padding:16px;
    width:50%;
    border-radius: 24px;
    font-size: 24px;
}
.loadBorder{
    background-color: rgb(233, 15, 7);
    color:white;
}
.infoCardLinks b:hover{
    cursor: pointer;
}
.infoCardImg{
    width:50%;
    max-width:330px;
}
.d-none{
    display:none;
}
.d-flex{
    display:flex;
}
.swipeButtons{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* padding-bottom: 32px; */
}
.swipeButtons button{
    width:50px;
    height:40px;
    border-radius: 24px;
    border: none;
    color:white;
}
.swipeButtons button:hover{
    cursor: pointer;
    scale: 1.1;
}
h1{
    text-shadow: -5px 0 rgb(53, 77, 237), 0 1px rgb(53, 77, 237), 1px 0 rgb(53, 77, 237), 0 -1px rgb(53, 77, 237);
    color:yellow !important;
}

@media(max-width:772px){
    .headerDiv{
        flex-direction: column;
        padding-bottom: 20px;
        align-items: flex-start;
    }
    .headerDiv form{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .pokemonInfoCard{
        width:70vW;
        height:auto;
    }
    .infoContent{
        font-size: 12px;
    }
    .loadAbouts{
        padding: 8px;
        font-size: 16px;
    }
    .loadBasestate{
        padding:8px;
        font-size: 16px;
}
}
@media(max-width:650px){
.pokemonCards{
    width:100px;
    height:150px;
}
.pokemonName{
    font-size: 14px;
}
.typeAndImg{
    height:100px;
    flex-direction: column-reverse;
    gap:4px;
}
.typeDiv{
    min-width: 40px;
    font-size: 10px;
    margin:2px;
}
.allTypesDiv{
    display: flex;
}
.content{
    margin:16px;
}
.pokemonInfoCard{
    width:80vW;
}
.typeOnBigView div {
    font-size: 18px;
}

.fullWidth{
    width:50%;
}
.headerLeft img {
    width: 40px;
    height: 40px;
}
.headerLeft{
    align-items: center;
}
.h1{
    font-size: 30px !important;
}

}
@media(max-height:600px){
    .pokemonInfoCard{
        flex-direction: row;
        width:80vW;
        max-width:none;
        height:70vh;
    }
    .infoCardTop{
        height:100%;
        padding:16px;
        width:50%;
    }
    .infoCardBottom{
        width:50%;
        height:100%;
        justify-content: space-between;
        gap:4px;
    }
    .loadAbouts{
        padding:4px;
    }
    .loadBasestate{
        padding:4px;
    }
    .swipeButtons button{
        height:auto;
    }
    .infoContent{
        padding: 0px 16px; 
        font-size: 12px;
    }
    .pokemonCards{
        width:100px;
        height:150px;
    }
    .pokemonName{
        font-size: 14px;
    }
    .typeAndImg{
        height:100px;
        flex-direction: column-reverse;
        gap:4px;
    }
    .typeDiv{
        min-width: 40px;
        font-size: 10px;
        margin:2px;
    }
    .allTypesDiv{
        display: flex;
    }
    .content{
        margin:16px;
    }
    .pokemonInfoCard{
        width:80vW;
    }
    .typeOnBigView div {
        font-size: 18px;
    }
    
    .fullWidth{
        width:50%;
    }
    .headerLeft img {
        width: 40px;
        height: 40px;
    }
    .headerLeft{
        align-items: center;
    }
    .h1{
        font-size: 30px !important;
    }
    header{
        padding: 8px 0px;
    }
    .headerDiv{
        padding:0;
    }
}