body{
    margin:0;
    min-height: 100vh;
}
header{
    height:10vh;
    margin:0;
    padding:80px;
    
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    height:10vh;
}
.main{
    text-align: center;
    margin:40px;
}
.content{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
    justify-content: center;
}

.pokemonCards{
    width:200px;
    height:250px;
    border-radius: 24px;
}
.pokemonCards:hover{
    cursor: pointer;
    scale:1.1;
}
.typeAndImg{
    display:flex;
    gap:16px;
    height:200px;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    color:white;
}

.showAllPokemonImage{
    height: 100px;
    width: auto;
    object-fit: contain;
}
.pokemonName{
    padding:16px;
    margin:0;
    font-size:24px;
    color:white;
}
.loadMoreButton{
    border-radius: 24px;
    background-color: greenyellow;
    width:150px;
    height:50px;
    margin:16px;
}
.pokemonInfoCardBackground{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    background-color: rgb(70, 70, 67, 0.2);
    align-items: center;
    justify-content: center;
}
.pokemonInfoCard{
    width:50vw;
    height:70vh;
    background-image: url("./img/background.png") ;
    background-size: cover;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:16px;
    border-radius: 24px;
    z-index:3;
}
.infoContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top:16px;
}
.infoCardText{
    height: 45%;
    text-align: left;
}
.infoCardLinks b:hover{
    cursor: pointer;
    text-decoration: underline;
}
.infoCardImg{
    width:100%;
}
.d-none{
    display:none;
}
.d-flex{
    display:flex;
}

@media(max-width:700px){
    .header{
        flex-direction: column;
        height:20vh;
        padding-bottom: 20px;
    }
    .header form{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}