body{
    margin:0;
    min-height: 100vh;
}
header{
    height:10vh;
    margin:0;
    padding:80px;
    
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    height:10vh;
}
.main{
    text-align: center;
    margin:40px;
}
.content{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
    justify-content: center;
}

.pokemonCards{
    width:200px;
    height:250px;
    border-radius: 24px;
    /* background-image: url("/img/pokeballDesign.png"); 
    opacity: 0.2;  */
}
.pokemonCards:hover{
    cursor: pointer;
    scale:1.1;
}
.typeAndImg{
    display:flex;
    gap:16px;
    height:200px;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    color:white;
    text-align: left;
}

.showAllPokemonImage{
    height: 100px;
    width: auto;
    object-fit: contain;
}
.pokemonName{
    padding:16px;
    margin:0;
    font-size:24px;
    color:white;
}
.loadMoreButton{
    border-radius: 24px;
    background-color: greenyellow;
    width:150px;
    height:50px;
    margin:16px;
    cursor: pointer;
}
.pokemonInfoCardBackground{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    background-color: rgb(70, 70, 67, 0.2);
    align-items: center;
    justify-content: center;
}
.pokemonInfoCard{
    width:50vw;
    max-width:600px;
    height:70vh;
    background-image: url("./img/background.png") ;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 24px;
    z-index:3;
}
.infoCardTop{
    padding:16px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:50%;
}
.infoContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 16px 0px 16px; 
}
.loadInfoSpan{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoCardBottom{
    height: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between; 
    background-color: white;
    border-radius: 24px;
    padding:0px 0px 16px 0px;
}
.infoCardText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.fullWidth{
    border: solid 1px;
    border-radius: 24px;
    height: 16px;
    width:80%;
    position: relative;
    margin-top: 5px;
}
.showPercent{
    background-color: aqua;
    height: 14px;
    display: block;
    border-radius: 24px;
}
.statSpan{
    display:flex;
    gap:8px;
    justify-content: space-between;

}
.statNumberAndShowLine{
    width:50%;
    display: flex;
    gap:8px;
    justify-content: end;
}
.infoCardLinks{
    justify-content: space-between;
    display: flex;
    text-align: center;
    width: 100%;
    border-radius: 24px;
}
.loadAbouts{
     padding:16px;
     width:50%;
     border-radius: 24px;
}
.loadBasestate{
    padding:16px;
    width:50%;
    border-radius: 24px;
}
.loadBorder{
    background: red;
}
.infoCardLinks b:hover{
    cursor: pointer;
}
.infoCardImg{
    width:80%;
    max-width:330px;
}
.d-none{
    display:none;
}
.d-flex{
    display:flex;
}
.swipeButtons{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 32px;
}
.swipeButtons button{
    width:50px;
    height:40px;
    background-color: rgb(233, 15, 7);
    border-radius: 24px;
    border: none;
}
.swipeButtons button:hover{
    cursor: pointer;
    scale: 1.1;
}

@media(max-width:700px){
    .header{
        flex-direction: column;
        height:20vh;
        padding-bottom: 20px;
    }
    .header form{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}